@{
    ViewData["Title"] = "Home Page";
}
@model Team

<h1>@Model.Name</h1>
<img src="@Model.Logo" alt="@Model.Logo">
<ul>
    <li>Income: @Model.Income</li>
    <li>Upkeep: @Model.Upkeep</li>
    <li>Cash: @Model.Cash</li>
    <li>Owner: @Model.Owner.Username</li>
    <li>League: @Model.JoinedLeague</li>
</ul>
This will be the teams dash